<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myaplication.goangkot404bnf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/iconel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name="com.myaplication.goangkot404bnf.Notification.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <activity
            android:name="com.myaplication.goangkot404bnf.Notification.AlarmActivity"
            android:label="Get Notification"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.myaplication.goangkot404bnf.MainActivity"/>

        <activity
            android:name="com.myaplication.goangkot404bnf.DetailActivity"
            android:label="activityDetail"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.myaplication.goangkot404bnf.MainActivity"/>

        <activity
            android:name="com.myaplication.goangkot404bnf.AboutActivity"
            android:label="About US"
            android:parentActivityName="com.myaplication.goangkot404bnf.MainActivity" />
        <activity android:name="com.myaplication.goangkot404bnf.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.myaplication.goangkot404bnf.MainActivity" />
        <activity android:name="com.myaplication.goangkot404bnf.DbCatat.ListDataActivity"></activity>
        <activity android:name="com.myaplication.goangkot404bnf.DbCatat.CatatActivity"></activity>
        <activity android:name="com.myaplication.goangkot404bnf.DbCatat.EditDataActivity"></activity>
    </application>

</manifest>